@font-face {
  font-family: 'police-lieu';
  src: url('src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'police-titre';
  src: url('src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'police-autre';
  src: url('src/assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

